<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="widget_inits" data-view="Rickshawgraph" data-title="Widget inits"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-summary-method="none"
        data-legend="true"
        data-stroke="false"
        data-colors="rgba(255,0,0,1):rgba(245,233,60,1):rgba(0,255,0,1)"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="widget_searches" data-view="Rickshawgraph" data-title="Widget searches"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-summary-method="none"
        data-legend="true"
        data-stroke="false"
        data-colors="rgba(255,0,0,1):rgba(245,233,60,1):rgba(0,255,0,1)"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aff_searches" data-view="Rickshawgraph" data-title="Aff searches"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-summary-method="none"
        data-legend="true"
        data-stroke="false"
        data-colors="rgba(255,0,0,1):rgba(245,233,60,1):rgba(0,255,0,1)"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="aff_paidbookings" data-view="Rickshawgraph" data-title="Aff paidbookings"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-summary-method="none"
        data-legend="true"
        data-stroke="false"
        data-colors="rgba(255,0,0,1):rgba(245,233,60,1):rgba(0,255,0,1)"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wl_searches" data-view="Rickshawgraph" data-title="cb_wl searches"
        data-moreinfo=""
        style="background-color:#333A52;"
        data-renderer="line"
        data-summary-method="none"
        data-legend="true"
        data-stroke="false"
        data-colors="rgba(255,0,0,1):rgba(245,233,60,1):rgba(0,255,0,1)"
      ></div>
    </li>


  </ul>
</div>
